<!--******************************************************************************
	Ditto 마스터 index페이지

	update : 2024-05-20
	
	관리자 : 박낙주
	
  코딩 매뉴얼.
  - 홈페이지를 관리하는 마스터 페이지 인덱스 페이지 임 
 ******************************************************************************-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=divice-width, initial-scale=1.0" >
<title>관리자 페이지</title>
</head>
<body>
<h2>여기는 마스터 페이지 입니다.</h2>
여기서 홈페이지를 관리하는 페이지를 만들것 입니다.
</body>
</html>