<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0" >
    <title>Ditto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="../../../fonts/icomoon/style.css">
    
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/magnific-popup.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.css">
    <link rel="stylesheet" href="../../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../css/owl.theme.default.min.css">
    
    
    <link rel="stylesheet" href="../../../css/aos.css">
    
    <link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
    <div class="site-wrap">
        <div th:replace="~{features/top :: replTop}"></div>
        <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">findPw</strong></div>
                </div>
            </div>
        </div>
        
        <div class="site-section">
            <div class="container">
                <div class="card" style="border-radius: 1rem;">
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <form class="container" action="/admin/OkPass" method="post"> <!-- 수정된 부분: 비밀번호 업데이트를 위한 액션 추가 -->
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    <span class="h1 fw-bold mb-0">비밀번호 <br> 재설정</span>
                                </div>
                                <p class="small text-muted">비밀번호를 잃어버렸나요?</p><br>
                                
                                
                                <table class="table">
                                  <tbody>
                                    <tr>
                                     <th scope="row">Email</th>
                                                <td><span th:text="${email}"></span><input type="hidden" name="email" th:value="${email}"></td>
                                    </tr>
                                    <tr>
                                      <th >새로운 <br> 비밀번호 </th>
                                      <!-- 새로운 비밀번호를 입력받는 인풋태그 추가 -->
                                      <td><input type="password" name="newPassword" required></td>
                                    </tr>
                                  </tbody>
                                </table>
                                
                                <P> 비밀번호를 바꾸셨나요? 다시 한번 로그인을 시도해보세요!</P> 
                               
                               <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-lg" >비밀번호 재설정</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

        
        <div th:replace="~{features/footer :: replFoot}"></div>
    </div>
        <div th:replace="~{shared/script/TempScript :: repscript}"></div>
        

</body>
</html>