<!--******************************************************************************
	Ditto 새로운 페이지

	update : 2024-05-20
	
	관리자 : 박낙주
	
  코딩 매뉴얼.
  -  모든 회원 정보를 보는 리스트
  
 ******************************************************************************-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=divice-width, initial-scale=1.0" >

<title>Ditto 마스터</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
	<link rel="stylesheet" href="../../../fonts/icomoon/style.css">
	
	<link rel="stylesheet" href="../../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../css/magnific-popup.css">
	<link rel="stylesheet" href="../../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../../../css/owl.theme.default.min.css">
	
	
	<link rel="stylesheet" href="../../../css/aos.css">
	
	<link rel="stylesheet" href="../../../css/style.css">
	<link rel="icon" href="../../../icon/dittoIcon.ico">
</head>
<body>
	<div class="site-wrap">
		<div th:replace="~{features/m_top :: replTop}"></div>
    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
		<th:block th:fragment="content">
		   <h1 class="mt-4">전체 회원</h1>
		   <form action="memberList" method="get" id="searchForm">
				<div class="input-group">
					<input type="hidden" name="page" value="1">
						<div class="input-group-prepend">
							<select class="custom-select" name="type">
								<option th:selected="${pageRequestDTO.type == null}">------</option>
								<option value="l" th:selected="${pageRequestDTO.type == 'l'}">아이디</option>
								<option value="n" th:selected="${pageRequestDTO.type == 'n'}">회원명</option>
								<option value="e" th:selected="${pageRequestDTO.type == 'e'}">이메일</option>
								<option value="ln" th:selected="${pageRequestDTO.type == 'ln'}">아이디 + 회원명</option>
								<option value="lne" th:selected="${pageRequestDTO.type == 'lne'}">아이디 + 회원명 + 이메일</option>
								<option></option>
							</select>
						</div>
						<input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
						
						<div class="input-group-prepend" id="button-addon4">
							<button class="btn btn-outline-scondary bnt-search">Search</button>
							<button class="btn btn-outline-scondary" type="reset">Clear</button>
						</div>
				</div>
			
			</form>
		 <table class="table table-striped" style="text-align:center">
            <thead>
            <tr>
                <th scope="col">회원번호</th>
                <th scope="col">회원명</th>
                <th scope="col">이메일</th>
                <th scope="col">연락처</th>
            </tr>
            </thead>
         <tbody>
		<tr th:each="dto : ${result.dtoList}" >
			 <th scope="row">
                        [[${dto.memberNo}]]
                </th>
                <td> [[${dto.memberNm}]]</td>
                <td> [[${dto.memberEmail}]]</td>
                <td> [[${dto.memberTel}]]</td>
		</tr>
		</table>
		     
		 </th:block>
		         <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{memberList(page= ${result.start -1})}" tabindex="-1">이전</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{memberList(page = ${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{memberList(page= ${result.end + 1} )}">다음</a>
            </li>
        </ul>
		 </div>
		 </div>
		 </div>
	</div>
		<div th:replace="~{shared/script/TempScript :: repscript}"></div>
</body>
</html>