<!--******************************************************************************
	Ditto 김효정 test페이지

	update : 2024-05-20
	
	관리자 : 김효정
	
  코딩 매뉴얼.
  - 프론트 나누기 test
  
 ******************************************************************************-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<!-- 
		공동 탑,풋터 코드입니다! 
		위치에 복붙만 하면 됩니다!
		
		파일 위치 변경 시 에러 뜨니 조심!
	-->	
	<!-- 풋터 -->
	<div th:replace="~{features/footer :: replFoot}"></div>
	<!-- 탑 -->
	<div th:replace="~{features/top :: replTop}"></div>


</body>
</html>