<!--******************************************************************************
	Ditto ahop 페이지

	update : 2024-05-20
	
	관리자 : 최희정
	
  코딩 매뉴얼.
	- 상품을 리스트로 출력하는 페이지입니다.
	- 이미지, 가격, 상품명이 보이도록 만들어주세요. 다른 정보는 시간이 있을 때 추가 해주세요
	- 값을 받아서 분류별로 상품이 보이도록 해주세요.
	- 쿼리를 써야 하는데 해보시고 안되면 말해주세요
	- 수업 내용 중 movie_Review를 참고하면 이해에 도움이 될 것입니다.
	- 리스트는 페이징처리를 해주세요
	
	- 셀러 단독shop 리스트를 보여주는 페이지
	
	
 ******************************************************************************-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=divice-width, initial-scale=1.0" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<title>Ditto</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
	<link rel="stylesheet" href="../../../fonts/icomoon/style.css">
	
	<link rel="stylesheet" href="../../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../css/magnific-popup.css">
	<link rel="stylesheet" href="../../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../../../css/owl.theme.default.min.css">
	
	
	<link rel="stylesheet" href="../../../css/aos.css">
	
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>

	<div class="site-wrap">
		<div th:replace="~{features/top :: replTop}"></div>
		    <!-- 메인 중간 화면 -->



<!-- 메인 광고 밑에 home & shop 메뉴 -->
    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
          <a href="main">Home</a>
          <span class="mx-2 mb-0">/</span> 
          <strong class="text-black">Shop</strong>
          <span class="mx-2 mb-0">/</span> 
          <strong class="text-black">QnA</strong>
          </div>
        </div>
      </div>
    </div>




<!-- 항목 시작 전 메뉴 -->

<th:block th:fragment="content">

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-1">

   	<form method="post" action="/admin/modiSQ">
   	
   		   	<input type="hidden" name="qnaNo" th:value="${dto.qnaNo}" class="form-group">
   	
   			           
           <div class="form-group">
                <label>문의제목</label>
                <input type="text" class="form-control" id="inquiryTitle" name="inquiryTitle" th:value="${dto.inquiryTitle}">
            </div>

            <div class="form-group">
                <label>상품코드(숫자)</label>
                <input type="number" class="form-control" id="productId" name="productId" th:value="${dto.productId}" readonly>
            </div>
            
            
            <div class="form-group">
                <label>문의내용</label>
                <textarea class="form-control" rows="5" id="inquiryContent" name="inquiryContent">[[${dto.inquiryContent}]]</textarea>
            </div>
            
            <div class="form-group">
                <label>작성자 id</label>
                <input type=text class="form-control" id="loginId" name="loginId" th:value="${dto.loginId}" readonly>
            </div>

</form>

<!---------------------------------------------------------------------------------------------------------------->   	
<a href="/admin/sellerQna">
<button type="button" class="btn btn-primary" style="float: right">수정취소</button>
</a>

<button type="button" class="btn btn-info" id="SQmodi" style="float: right">수정저장</button>

<!---------------------------------------------------------------------------------------------------------------->   	


          </div>
         </div>
       </div>
      </div>
      
      
<script th:inline="javascript">

let theForm = $("form");


$("#SQmodi").click(function(){
	
	let qnaNo = $("input[name='qnaNo']").val();

    $("<input />").attr("type", "hidden")
			    .attr("name", "qnaNo")
			    .attr("value", qnaNo)
			    .appendTo(theForm);
	
	if(! confirm("수정내용을 저장할까요?")) return;

	theForm.attr("action", "/admin/modiSQ")
			.attr("method", "post")
			.submit();
	

});




</script>      
      
      
      

</th:block>

		<div th:replace="~{features/footer :: replFoot}"></div>
	</div>
		<div th:replace="~{shared/script/TempScript :: repscript}"></div>
</body>
</html>